.pagination {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5rem;

  .page-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 0.4rem;

    transition: all 0.3s linear;
    cursor: pointer;

    /* identical to box height */

    color: #545f7d;
    &:hover {
      color: #bfd7ff;
      padding: 0.4rem;
      border-radius: 4px;
      background: #091540;
    }
  }

  .page-item:nth-child(1) {
    background: #091540;
    border-radius: 4px;
    color: #bfd7ff;

    font-weight: bold;
  }
  .page-item:last-child {
    background: #091540;
    border-radius: 4px;
    color: #bfd7ff;
    padding: 0.4rem;
    font-weight: bold;
  }
  .active {
    color: #bfd7ff;
    border-radius: 4px;
    background: #091540;
  }
  .disabled {
    opacity: 0.3;
  }
}
