// image illustration
.image--illustration--container {
  background: linear-gradient(
    to top left,
    rgba(216, 217, 217, 0.25) 50%,
    rgba(25, 148, 230, 0.15) 50%
  );
}
.image--illustration--content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
  padding: 4rem 1em;

  .image--delivery {
    background: linear-gradient(
        to top,
        rgba(15, 150, 246, 0.88),
        rgba(0, 0, 0, 0.2)
      ),
      url('../../../assets/images/delivery.jpg');
    background-size: contain;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 2.5em 1em;
  }
  .image--facilities {
    background: linear-gradient(
        to top,
        rgba(15, 150, 246, 0.88),
        rgba(0, 0, 0, 0.2)
      ),
      url('../../../assets/images/osmosis.jpg');
    background-size: contain;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 2.5em 1em;
  }
  .image--environment {
    background: linear-gradient(
        to top,
        rgba(15, 150, 246, 0.5),
        rgba(0, 0, 0, 0.2)
      ),
      url('../../../assets/images/clean-environment.jpg');

    background-size: contain;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 2.5em 1em;
  }
  p {
    font-size: 2.5rem;
    color: white;
    font-weight: 300;
    backdrop-filter: blur(4px);
  }
  @media screen and (min-width: 900px) {
    .image--facilities,
    .image--environment {
      margin-top: 8rem;
    }
    .image--delivery,
    .image--environment,
    .image--facilities {
      height: 400px;
    }
    p {
      font-size: 3.5rem;
    }
  }
}
