footer {
  background-color: #07004d;
  margin-top: 3em 0;
  padding: 2em 0;
  color: #bfd7ff;
  p {
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
  }
}
@media screen and (min-width: 800px) {
  footer p {
    font-size: 0.8rem;
  }
}

.footer--content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1em;
}
.company--address {
  display: flex;
  margin-top: 1rem;
  column-gap: 0.5rem;

  width: fit-content;
}
