.order--stats {
  display: flex;
  flex-wrap: wrap;

  gap: 2rem;

  margin-top: 1rem;
  div {
    background-color: #ffff;
    max-width: 100%;
    width: 100%;
    padding: 1.5rem;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}
@media screen and (min-width: 1036px) {
  .order--stats {
    div {
      max-width: 200px;
    }
  }
}
