// admin page
.admin--sidebar {
  background-color: #091540;
  width: 270px;
  overflow: auto;
  .admin--sidebar--header {
    padding: 1em 0em;
    color: #f6f2ff;
  }
  p {
    font-weight: bold;
    padding-left: 1.5rem;
    color: #bfd7ff;
    letter-spacing: 0.1rem;
  }
  ul {
    margin: 0.6em 0;
  }
  li {
    display: flex;
    align-items: center;
    margin: 0.5em;
    padding: 0.5em;
    padding-left: 1.5em;
    cursor: pointer;
    color: #f6f2ff;
    transition: all 0.3s linear;
    text-transform: capitalize;
  }
  li:hover,
  #active {
    background-color: #bfd7ff;
    color: black;
    border-radius: 5px;
  }
  p,
  li,
  small {
    //   color: $primary-color
    font-size: 0.8rem;
    line-height: 1.3;
  }
  @media screen and (min-width: 1000px) {
    p,
    li,
    small {
      //   color: $primary-color
      font-size: 1rem;
      line-height: 1.3;
    }
  }
}
