@import 'resets';
@import 'mixins';
@import 'colors';
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;900&family=Open+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coustard:wght@900&display=swap');
// global styles
html {
  scroll-behavior: smooth;
}
/* Fix Input Zoom on iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8, iPhone X, XS, XS Max  */
@media screen and (device-aspect-ratio: 9/16) {
  select,
  textarea,
  input[type='text'],
  input[type='password'],
  input[type='week'],
  input[type='number'],
  input[type='email'],
  input[type='tel'],
  input[type='url'] {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
.figure {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  font-family: 'Merriweather', serif;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #0f2751;
}
h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.3rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p,
li,
td,
th,
small {
  //   color: $primary-color
  line-height: 1.3;
  font-family: 'Open Sans', sans-serif;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.7rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
  p {
    //   color: $primary-color;

    line-height: 1.3;
  }
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.2;
}

.custom--btn {
  background-color: rgb(193, 0, 0);
  padding: 0.8em 4em;
  font-size: 1.1rem;
  border: 0;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: $transition;
  box-shadow: $shadow;
}
.custom--btn:hover {
  background-color: white;
  color: $secondary-color;
}
@media screen and (min-width: 800px) {
}
// pre-loaders
.preloader--small {
  @include preloader;
}
.preloader--large--container {
  height: 80vh;
}
// pre-loaders end
.pre--loader--large {
  @include preloader;
  color: $secondary-color;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.homepage--loader {
  @include preloader;
  color: $secondary-color;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.single--order--loader {
  @include fetchingOrderInformationLoader;
  margin-left: 1em;
}

.singleOrder--information--alert {
  position: fixed;
  top: 5%;
  left: 50%;
  background-color: $secondary-color;
  padding: 0.6em 1em;
  box-shadow: $shadow;
  border-radius: 5px;
  display: flex;
  align-items: center;
  p {
    color: white;
  }
}
.alert--box {
  @include zoomIn;
  position: fixed;
  top: 8%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 300px;
  border: 1px solid red;
  border-radius: 5px;
  box-shadow: $shadow;
  padding: 0.5em;
}

.back--btn {
  width: 200px;
  height: 30px;
  margin-bottom: 1.5em;
  background-color: $secondary-color;
  color: $primary-color;
  font-weight: 500;
  letter-spacing: 0.1em;
  border: 0;
  box-shadow: $shadow;
  cursor: pointer;
  transition: $transition;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
}
#active {
  color: black;
}
.modal--overlay {
  @include zoomIn;
  height: 100vh;
  position: fixed;
  z-index: 10000;
  top: 0;
  width: 100%;
  background-color: rgba(50, 50, 93, 0.25);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1em;

  width: 400px;
  max-width: 100%;
  height: 270px;
  border-radius: 10px;
  text-align: center;
  padding-top: 1rem;
  box-shadow: $shadow;
}
// ++++++++++++++++++++++++
// +++++++++++++++++++++
/*  global classes */
nav {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 3;
  box-shadow: $shadow;
  background-color: $primary-color;
}
.nav--items {
  @include maximum-width;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3em 1em;
}

// ++++++++++++++++++++++++

// hero section
.hero--container {
  height: calc(100vh - 50px);
  display: grid;
  align-items: center;
  background: linear-gradient(
      to top,
      rgba(15, 150, 246, 0.88) 10%,
      rgba(0, 0, 0, 0.2) 90%
    ),
    url('../assets/images/hero-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.hero--container h1 {
  color: rgb(255, 255, 255);
}
.hero--items {
  @include maximum-width;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand--description {
  max-width: 1000px;
}
.brand--description p {
  color: rgb(217, 233, 246);
  padding: 1.5rem 0.8rem;
  font-size: 1.2rem;
}
.drink-water-image {
  display: none;
  width: 800px;
  // box-shadow: $shadow;
}
@media screen and (min-width: 1000px) {
  .drink-water-image {
    display: block;
  }
  .brand--description {
    max-width: 600px;
    p {
      padding: 1.5rem 0;
    }
  }
}
@media screen and (min-width: 1000px) {
  .hero--container {
    text-align: left;
    padding: 1rem 0;
  }
}

// ++++++++++++++++
// +++++++++++++++++++
// ++++++++++++++++++++
.form--container {
  // @include maximum-width;
  display: grid;
  place-items: center;
  height: 100%;
  padding: 0 0.5em;
  margin-bottom: 10em;

  // +++++++++++++++++++

  p {
    display: block;
    margin: 0.5em 0;
    color: rgb(79, 72, 72);
    font-size: 0.9rem;
  }

  .place--order--form--container {
    width: 100%;
    max-width: 500px;
    padding: 1em 0.5em;
    margin: 3em 0;
    border: 0.5px solid $secondary-color;
    box-shadow: $shadow;
    border-radius: 5px;
    background: radial-gradient(
      ellipse at center,
      #fffeea 0%,
      #fffeea 35%,
      #b7e8eb 100%
    );

    .quantity--container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 0.5em;
      border-bottom: 1px solid gray;
    }
    .quantity--container input {
      max-width: 100px;
      margin-right: 3rem;
    }
    input {
      padding: 0.8rem;
      border-radius: 5px;
      outline: 0;
      width: 100%;
      border: 0.5px solid $secondary-color;
      transition: $transition;

      &:hover,
      &:focus {
        box-shadow: $shadow;
      }
    }
  }
  button,
  select {
    width: 100%;
    padding: 0.6em 0;
    background-color: $secondary-color;
    border: 0;
    border-radius: 5px;
    color: $primary-color;
    font-weight: 700;
    letter-spacing: 0.1em;
    cursor: pointer;
    transition: $transition;
    &:hover {
      box-shadow: $shadow;
    }
  }
  button {
    margin: 1em 0;
  }
  button:hover,
  button:focus {
    background-color: rgb(2, 74, 175);
  }
}
.item--order {
  display: flex;
  margin: 0.5em 0;
  // align-items: center;
  text-align: center;
  img {
    width: 75px;
    border-radius: 5px;
    box-shadow: $shadow;
    margin-right: auto;
  }
}
// ***************************
.login--container {
  width: 100%;
  max-width: 500px;
  padding: 1em 0.5em;
  margin: 5rem 1em;

  border: 0.5px solid $secondary-color;
  border-radius: 5px;
  box-shadow: $shadow;
  background: radial-gradient(
    ellipse at center,
    #fffeea 0%,
    #fffeea 35%,
    #b7e8eb 100%
  );
}
.login--input--container {
  display: flex;
  align-items: center;
  border: 0.5px solid $secondary-color;
  padding: 0.5em;
  border-radius: 5px;
  margin: 1rem 0rem;
  background-color: #fff;

  input {
    border: 0;
    outline: 0;
    caret-color: #0172ab;
    font-size: 1.1rem;
    color: gray;
    width: 100%;
    letter-spacing: 0.1em;
  }
  .login-icons {
    font-size: 1.7rem;
    margin-right: 0.3em;
  }
}

.homepage--sidebar--container {
  position: fixed;

  top: 0%;
  height: 100vh;
  z-index: 1000;
  width: 100%;
  width: 100%;
  background-color: rgba(50, 50, 93, 0.25);
  overflow: hidden;
}
.homepage--sidebar--content {
  @include slideInRight;
  background-color: white;
  position: absolute;
  right: 0%;
  height: 100vh;
  width: 300px;
  box-shadow: $shadow;
  overflow: hidden;
  font-weight: 500;
  line-height: 2;
  font-size: 1.2rem;
  padding: 1.5rem 0.5rem;
  text-transform: capitalize;
  p {
    border-bottom: 1px solid grey;
    transition: $transition;
    padding: 0.5em;
    cursor: pointer;
    color: $secondary-color;

    &:hover {
      background-color: #0172ab;
      border-radius: 5px;
      color: white;
    }
  }
}
// ++++++++++++++++++++++++
// ++++++++++++++++++++++++++
// modal

// admin page
.admin--sidebar {
  position: fixed;
  top: 0%;
  left: 0;
  width: 300px;
  height: 100vh;
  background-color: #0172ab;
  .admin--sidebar--header {
    padding: 1em 0em;
    color: $primary-color;
  }
  p {
    font-weight: 500;
    padding: 0 0.5em;
    font-size: 1.3rem;
    color: #bfd7ff;
  }
  ul {
    margin: 0.6em 0;
  }
  li {
    display: flex;
    align-items: center;
    margin: 0.5em;
    padding: 0.5em;
    padding-left: 1.5em;
    cursor: pointer;
    color: $primary-color;
    transition: $transition;
    text-transform: capitalize;
  }
  li:hover {
    background-color: #bfd7ff;
    color: $secondary-color;
    border-radius: 5px;
  }
}
.admin--page--content {
  padding: 1rem 1.6rem 1rem 20rem;
  width: 100%;
  background: radial-gradient(
    ellipse at center,
    #fffeea 0%,
    #fffeea 35%,
    #b7e8eb 100%
  );
  min-height: 100vh;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      padding: 0.5em 0.3em;
      color: $secondary-color;
      background-color: #dddddd;
      cursor: pointer;
      font-size: 1.2rem;
      font-weight: 500;
    }
    li:hover,
    .selected {
      background-color: white;
    }
  }
}
// admin page
.admin--page--content--header {
  input {
    padding: 0.5em;
    width: 500px;
    max-width: 100%;
    border: 0;
    outline: 0;
    border-radius: 5px 0 0 5px;
    transition: $transition;
    border: 1px solid $secondary-color;
    caret-color: $secondary-color;
    margin-top: 2em;
    &:hover {
      box-shadow: $shadow;
    }
  }
  .icon {
    color: $primary-color;
    background-color: $secondary-color;
    font-size: 2rem;
    padding: 0.3rem;
    margin-top: 0.8em;
    border-radius: 0 5px 5px 0;
    transition: $transition;
    cursor: pointer;
    &:hover {
      box-shadow: $shadow;
      background-color: darkblue;
    }
  }
}
.logout {
  &:hover {
    color: #07004d;
  }
}

table {
  width: 100%;
  margin: 3em 0;
  border-collapse: collapse;
}
tr {
  cursor: pointer;
  transition: $transition;
  border-bottom: 1px solid #bfd7ff;
  color: rgb(103, 103, 103);
  &:hover {
    background-color: $secondary-color;
    color: $primary-color;
  }
}
th {
  background-color: #0172ab;
  color: #dddddd;
}
td,
th {
  text-align: left;
  padding: 8px;
  text-transform: capitalize;
}

// +++++++++++++++++
// ++++++++++++++++++++
.single--order--container {
  padding: 3rem 2rem;
  position: relative;
}
.order--information {
  margin-left: 15rem;
  p {
    font-size: 1.4rem;
    line-height: 2;
  }
}
label {
  font-size: 1.2rem;
}
select {
  width: 15rem;
  padding: 0.5em;
  cursor: pointer;
  background-color: $secondary-color;
  color: white;
  border-radius: 5px;
}
option {
  padding: 0.3em 0;
}

// homepage components styling
.why--us--container {
  @include maximum-width;
  padding-top: 10rem;
  display: grid;
  place-items: center;

  article {
    text-align: center;
    max-width: 470px;
    margin: 1.5em 0;
    padding: 0 1em;
  }
  h2 {
    margin-bottom: 0.6rem;
  }
  p {
    line-height: 1.5;
    color: gray;
  }
}
@media screen and (min-width: 1000px) {
  .why--us--container {
    padding: 10rem 0;
    article {
      padding: 0;
    }
    .top--content {
      display: flex;
      column-gap: 4em;
    }
  }
}
.mobile--image {
  @include maximum-width;
  padding: 8rem 0;
}
@media screen and (min-width: 1000px) {
  .mobile--image {
    display: none;
  }
}

// +++++++++++
// image illustration
.image--illustration--container {
  background: linear-gradient(
    to top left,
    rgba(216, 217, 217, 0.25) 50%,
    rgba(25, 148, 230, 0.15) 50%
  );
}
.image--illustration--content {
  @include maximum-width;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
  padding: 4rem 1em;
  .image--delivery {
    background: linear-gradient(
        to bottom,
        rgba(246, 242, 15, 0.88),
        rgba(154, 8, 8, 0.2)
      ),
      url('../assets/images/delivery.jpg');
    @include imageBg;
  }
  .image--facilities {
    background: linear-gradient(
        to top,
        rgba(15, 150, 246, 0.88),
        rgba(0, 0, 0, 0.2)
      ),
      url('../assets/images/osmosis.jpg');
    @include imageBg;
  }
  .image--environment {
    background: linear-gradient(
        to top,
        rgba(15, 150, 246, 0.5),
        rgba(0, 0, 0, 0.2)
      ),
      url('../assets/images/clean-environment.jpg');

    @include imageBg;
  }
  p {
    font-size: 2.5rem;
    color: white;
    font-weight: 300;
    backdrop-filter: blur(4px);
  }
  @media screen and (min-width: 900px) {
    .image--facilities,
    .image--environment {
      margin-top: 8rem;
    }
    .image--delivery,
    .image--environment,
    .image--facilities {
      height: 400px;
    }
    p {
      font-size: 3.5rem;
    }
  }
}
// Our Numbers
.our--numbers--container {
  @include maximum-width;
  display: grid;
  place-items: center;
  text-align: center;
  .figure,
  h2 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  p {
    font-size: 1.2rem;
    font-weight: 500;
    color: gray;
  }
  img {
    width: 50px;
    margin: 0.2em 0;
  }
  .numbers {
    margin: 3em 1em;
  }
  .numbers--icon--delivery {
    font-size: 2.5rem;
    color: green;
    margin: 0.2em 0;
  }
  .numbers--icon--fulfilled {
    font-size: 2.5rem;
    margin: 0.2em 0;
    color: red;
  }
}
@media screen and (min-width: 800px) {
  .our--numbers--container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 7em 0;
    column-gap: 5em;
  }

  .figure {
    font-size: 2.5rem;
  }
}

// *************************

// +++++++++++++++++

.reviews--container {
  background: linear-gradient(
    to top right,
    rgba(216, 217, 217, 0.25) 50%,
    rgba(25, 148, 230, 0.15) 50%
  );
  margin: 5em 0;
}
.reviews--content {
  @include maximum-width;

  display: grid;
  place-items: center;
  padding: 3rem 1rem;
  text-align: center;
  h2 {
    margin-bottom: 4em;
  }
  h3 {
    color: #fff;
  }
  p {
    text-align: center;
    line-height: 1.5;
    margin: 2em 0;
    color: $primary-color;
  }
}
.slider--container {
  // width: 100%;
  max-width: 360px;
  padding: 3em 1.5em;
  background-color: $secondary-color;
  border-radius: 5px;
}
@media screen and (min-width: 800px) {
  .reviews--content {
    p {
      display: block;

      font-style: italic;
      color: #e6e6e6;
    }
  }
  .slider--container {
    max-width: 500px;
  }
}

//

footer {
  background-color: #07004d;
  margin-top: 3em 0;
  padding: 2em 0;

  p {
    color: #bfd7ff;
    font-weight: 300;
    line-height: 1.7;
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 800px) {
  footer p {
    font-size: 0.8rem;
  }
}

.footer--content {
  @include maximum-width;
  padding: 0 1em;
}
